body {
    height: 2000px;
}


/* header */

header {
    background-image: url(../images/header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 324px;
}

.navigation {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 15%;
    align-items: flex-end;
}

.title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.nav ul {
    display: flex;
}

.nav-li {
    display: flex;
    margin-right: 50px;
}

.nav-li:nth-child(6) {
    margin-right: 0px;
}

.nav-li a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.header-wraper {
    display: flex;
    height: 60%;
    align-items: flex-end;
}

.wraper-ul {
    margin-top: 100px;
}

.wraper-paragraph {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.wraper-li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 15px;
}

.divider::after {
    content: '';
    height: 19px;
    width: 1px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.wraper-li a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}


/* section #1 - map */

.map {
    width: 85%;
    margin: 55px auto;
}

.direction {
    width: 100%;
    height: 286px;
}


/* section #2 - contact */

.contact {
    width: 85%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.contact-paragraph1 {
    color: #5863F8;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-paragraph2 {
    color: #000000;
    font-size: 42px;
    font-weight: 800;
    width: 380px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.contact-forms {
    display: flex;
    width: 100%;
    height: 288px;
    justify-content: space-between;
}

.left-form {
    width: 68%;
}

.textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #F8F8F8;
    color: #CECECE;
    padding-top: 20px;
    padding-left: 20px;
    border: #E8E8E8 solid 2px;
}

.right-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.right-input {
    height: 60px;
    background-color: #F8F8F8;
    color: #CECECE;
    padding-left: 10px;
    border: #E8E8E8 solid 2px;
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 400;
}

.submit {
    background-color: #5863F8;
    color: #FFFFFF;
    border-style: none;
    height: 60px;
}

.fa-paper-plane {
    margin-left: 5px;
}

.contact-items {
    display: flex;
    justify-content: space-around;
}

.contact-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 145px;
}

.box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5863F8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.box-title {
    font-size: 18px;
    font-weight: 600;
}

.box-info {
    color: #B1B1B1;
    font-size: 14px;
    font-weight: 500;
}


/* section #3 - photos */

.photos {
    width: 100%;
    margin-top: 90px;
}

.photo-paragraphs {
    width: 85%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.photo-paragraph1 {
    color: #5863F8;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.photo-paragraph2 {
    color: #000000;
    font-size: 42px;
    font-weight: 800;
    width: 50%;
}

.photo-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image {
    width: 30%
}

.image img {
    width: 100%;
}


/* footer */